.map-container-add-fish .leaflet-container {
    cursor: crosshair !important;
    border: 5px rgb(49 142 19) solid;
}

.leaflet-popup-content-wrapper {
    background-color: rgb(255 244 158);
    color: black;
    border-radius: 0;
    width: 400px;
}

.leaflet-popup-content {
    width: 90% !important;
}

.leaflet-popup-tip {
    background-color: rgb(255 244 158);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: rgb(49 142 19);
}