@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@theme {
  --color-pinkish: rgb(230 45 114);
  --color-browngreen: rgb(87 119 29);
  --color-bone: rgb(244 244 184);
  --color-foresty: rgb(49 142 19);
  --color-forestyhover: rgb(52 168 14);

  /* more colors */
  --color-redish: rgb(232 24 0);
  --color-yellowishbone: rgb(255 244 158);
  --color-brownt: rgb(195 165 91);
  --color-fishblue: rgb(65 119 119);
  --color-fishbluelight: rgb(77, 140, 140);
  --color-fishbluedarker: rgb(54, 98, 98);

  --font-display: "Archivo Black", "sans-serif";
}